<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원전체리스트</title>
    <style>
        h2{text-align:center;}
        table {margin:0 auto;}
        table,th,td{border:1px solid black; border-collapse:collapse;}
        th,td{width:150px; height:40px; text-align:center;}
        #btn{width:800px; height:50px; margin:30px auto; border:none;}
        .d01{width:200px; height:50px; text-align:center;
            border:1px solid black; margin: 0 auto; line-height:50px;
            background:#eee;
        }
        a{text-decoration:none; }
    </style>
</head>
<body>
</tr>
    <!-- html 주석 -->
    {% comment %} django html 주석  {% endcomment %}
    <h2>회원전체리스트</h2>
    <table>
        <tr>
            <th>아이디</th>
            <th>비밀번호</th>
            <th>이름</th>
            <th>전화번호</th>
            <th>성별</th>
            <th>취미</th>
            <th>날짜</th>
            {% if list %}
                {% for m in list %}
                <tr>
                    <td>{{m.id}}</td>
                    <td>{{m.pw}}</td>
                    <td><a href='/member/view/{{m.id}}/'> {{m.name}}</a></td>
                    <td>{{m.phone}}</td>
                    <td>{{m.gender}}</td>
                    <td>{{m.hobby}}</td>
                    <td>{{m.mdate}}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan='6'>데이터가 존재하지 않습니다.</td>
                </tr>
            {% endif %}
    </table>
    <div id="btn">
        <div class='d01'><a href='{% url "member:write" %}'>글쓰기</a></div>
    </div>
</body>
</html>