<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <style>
        table,th,td{
            border: 1px solid black;
            border-collapse: collapse;
        }
        td{
            width: 200px;
            height: 40px;
        }
    </style>
</head>
<body>
    <h2>메인페이지</h2>
    <table>
        <tr>
            <td>쿠키</td>
        </tr>
        <tr>
            <td>쿠키리스트</td>
        </tr>
    </table>
    <div><a href="/member/login">로그인</a></div>
</body>
</html>