<script>
    function logoutBtn(){
        alert("로그아웃 되었습니다.");
        location.href = '/member/logout/'
    }
</script>
<div id="header">
    <div id="snbBox">
        <h1><img src="/static/images/txt/logo.gif" alt="JARDIN SHOP" /></h1>
        <div id="quickmenu">
            <div id="mnaviOpen"><img src="/static/images/btn/btn_mnavi.gif" width="33" height="31" alt="메뉴열기" /></div>
            <div id="mnaviClose"><img src="/static/images/btn/btn_mnavi_close.gif" width="44" height="43" alt="메뉴닫기" /></div>
            <ul>
                <li><a href="#">EVENT</a></li>
                <li><a href="#">CUSTOMER</a></li>
                <li><a href="/chart/">chart</a></li>
            </ul>
        </div>
        <div id="snb">
            <ul>
                {% if not request.session.session_id %}
                <li><a href="/member/login">LOGIN</a></li>
                <li><a href="/member/step03">JOIN</a></li>
                {% else %}
                <li><a href="/member/logout">LOGOUT</a></li>
                {% endif %}
                <li><a href="/product/detail">PRODUCT</a></li>
                <li><a href="#">MY PAGE</a></li>
                <li><a href="/admin/">admin</a></li>
            </ul>
            {{request.session.session_name}}님
            <div id="search">
                <input type="text" class="searchType" />
                <input type="image" src="/static/images/btn/btn_main_search.gif" width="23" height="20" alt="검색하기" />
            </div>
        </div>
    </div>
</div>