<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VLAST Shop - 로그인</title>
  <link rel='stylesheet' href='/static/css/login.css'>
  <script src="/static/js/jquery-3.6.0.min.js"></script>
  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
  <script>
    if('{{flag}}'=='1'){
      alert("로그인이 되었습니다.");
      location.href = '/';
    }else if('{{flag}}'=='0'){
      alert("아이디 또는 비밀번호가 일치하지 않습니다.\n다시입력하세요.");
    }else if('{{flag}}'=='-1'){
      alert("로그아웃 되었습니다.");
      location.href = '/';
    }
  </script>
</head>
<body>
  <div class="header">
    <div class="top-menu">
      <a href="#">회원가입</a> |
      <a href="#">로그인</a> |
      <a href="#">주문조회</a> |
      <a href="#">최근본상품</a>
    </div>
    <div class="icons">
      <i class="fas fa-search"></i>
      <i class="fas fa-user"></i>
      <i class="fas fa-shopping-bag"></i>
    </div>
  </div>
  <div class="container">
    <div class="login-box">
      <h1>로그인</h1>
      <form action="{% url 'member:login' %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="아이디" class="input-box" name="id" required value="{{id}}">
        <input type="password" placeholder="비밀번호" class="input-box" name="pw" required value="{{pw}}">
        <button type="submit" class="btn btn-login">로그인</button>
      </form>
      <div class="links">
        <a href="#">아이디 찾기</a> |
        <a href="#">비밀번호 찾기</a>
      </div>
      <div class="signup-box">
        <p><strong>아직 회원이 아니신가요?</strong></p>
        <p>지금 회원가입을 하시면<br>다양하고 특별한 혜택이 준비되어 있습니다.</p>
        <button class="btn-signup">회원가입</button>
      </div>
    </div>
  </div>
  <footer>
    Copyright © VLAST Shop. All rights reserved.
  </footer>
</body>
</html>