{% extends "base.html" %}
{% block extra_head %}
{% endblock %}
{% block body-block %}
<div id="allwrap">
<div id="wrap">
	<!-- container -->
	<div id="container">

		<div id="location">
			<ol>
				<li><a href="#">HOME</a></li>
				<li><a href="#">CUSTOMER</a></li>
				<li class="last">NOTICE</li>
			</ol>
		</div>
		
		<div id="outbox">		
			<div id="left">
				<div id="title2">CUSTOMER<span>고객센터</span></div>
				<ul>	
					<li><a href="/customer/list" id="leftNavi1">NOTICE</a></li>
					<li><a href="#" id="leftNavi2">1:1문의</a></li>
					<li><a href="#" id="leftNavi3">FAQ</span></a></li>
					<li class="last"><a href="#" id="leftNavi4">이용안내</a></li>
				</ul>			
			</div><script type="text/javascript">initSubmenu(1,0);</script>


			<!-- contents -->
			<div id="contents">
				<div id="customer">
					<h2><strong>NOTICE</strong><span>쟈뎅샵 소식을 전해드립니다.</span></h2>
					
					<div class="orderDivMt">
						<table summary="NO, 제목, 등록일, 조회수 순으로 공지사항을 조회 하실수 있습니다." class="orderTable2" border="1" cellspacing="0">
							<caption>공지사항 보기</caption>
							<colgroup>
							<col width="10%" class="tnone" />
							<col width="*" />
							<col width="14%" class="tw25" />
							<col width="14%" class="tnone" />
							</colgroup>
							<thead>
								<th scope="col" class="tnone">NO.</th>
								<th scope="col">제목</th>
								<th scope="col">등록일</th>
								<th scope="col" class="tnone">조회수</th>
							</thead>
							<tbody>
								{% comment %} <tr>
									<td class="tnone">1</td>
									<td class="left">
										<a href="#">쟈뎅 전문 쇼핑몰 쟈뎅샵이 리뉴얼 오픈합니다.</a>
										<img src="/static/images/ico/ico_new.gif" alt="NEW" />
									</td>
									<td>14-01-28</td>
									<td class="tnone right">9999</td>
								</tr> {% endcomment %}
								{% for c in list %}
								<tr id="{{c.bno}}">
									<td class="tnone">{{c.bno}}</td>
									<td class="left">
										<a href="/customer/cview/{{c.bno}}/" class="lightgray">{{c.btitle}}</a>
									</td>
									<td>{{c.bdate|date:'Y-m-d H:i:s'}}</td>
									<td class="tnone right">{{c.bhit}}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
						


					<div class="btnAreaList">
						<!-- 페이징이동 -->
						<div class="allPageMoving1">
						<!-- 이전페이지 정리 -->
						{% if list.has_previous %}
						<a href="/customer/clist/?page=1&category={{category}}&search={{search}}" class="n"><img src="/static/images/btn/btn_pre2.gif" alt="처음으로"/></a>
						<a href="/customer/clist/?page={{list.previous_page_number}}&category={{category}}&search={{search}}" class="pre"><img src="/static/images/btn/btn_pre1.gif" alt="앞페이지로"/></a>
						{% else %}
						<a class="n"><img src="/static/images/btn/btn_pre2.gif" alt="처음으로"/></a>
						<a class="n"><img src="/static/images/btn/btn_pre1.gif" alt="앞페이지로"/></a>
						{% endif %}

						<!-- 순차적 넘버링 -->
						{% for p in list.paginator.page_range %}
							{% if p >= list.number|add:'-3' and p <= list.number|add:'3' %}
								{% if p == page %}
								<strong>{{p}}</strong>
								{% else %}
									<a href="/customer/clist/?page={{p}}&category={{category}}&search={{search}}">{{p}}</a>
								{% endif %}
							{% endif %}
						{% endfor %}

						<!-- 다음페이지 정리 -->
						{% if list.has_next %}
						<a href="/customer/clist/?page={{list.next_page_number}}&category={{category}}&search={{search}}" class="next"><img src="/static/images/btn/btn_next1.gif" alt="뒤페이지로"/></a>
						<a href="/customer/clist/?page={{list.paginator.num_pages}}&category={{category}}&search={{search}}" class="n"><img src="/static/images/btn/btn_next2.gif" alt="마지막페이지로"/></a>
						{% else %}
						<a class="next"><img src="/static/images/btn/btn_next1.gif" alt="뒤페이지로"/></a>
						<a class="n"><img src="/static/images/btn/btn_next2.gif" alt="마지막페이지로"/></a>
						{% endif %}
						</div>
						<!-- //페이징이동 -->

						<div class="bwright">
							<ul>
								<li><a href="/customer/cwrite" class="sbtnMini">글쓰기</a></li>
							</ul>
						</div>
					</div>

					<div class="searchWrap">
						<div class="search">
							<script>
								function searchBtn(){
									alert("검색시작");
									searchFrm.submit();
								}
							</script>
							<form action="/customer/clist/" method="get" name="searchFrm">
								{% csrf_token %}
								<ul>
									<li class="web"><img src="/static/images/txt/txt_search.gif" alt="search" /></li>
									<li class="se">
										<select name="category">
											<option value="btitle" />제목</option>
											<option value="bcontent" />내용</option>
											<option value="all" />전체</option>
										</select>
									</li>
									<li><input type="text" name="search" class="searchInput" value="{{search}}"/></li>
									<li class="web"><a onclick="searchBtn();"><img src="/static/images/btn/btn_search.gif" alt="검색" /></a></li>
									<li class="mobile"><a><img src="/static/images/btn/btn_search_m.gif" alt="검색" /></a></li>
								</ul>
							</form>
						</div>
					</div>
					<!-- //포토 구매후기 -->


				</div>
			</div>
			<!-- //contents -->

		</div>
	</div>
	<!-- //container -->

</div>
</div>
{% endblock %}