{% extends "base.html" %}
{% block extra_head %}
{% endblock %}
{% block body-block %}

<div id="allwrap">
<div id="wrap">
	<!-- container -->
	<div id="container">
		<div id="location">
			<ol>
				<li><a href="#">HOME</a></li>
				<li><a href="#">CUSTOMER</a></li>
				<li class="last">NOTICE</li>
			</ol>
		</div>
		
		<div id="outbox">		
			<div id="left">
				<div id="title2">CUSTOMER<span>고객센터</span></div>
				<ul>	
					<li><a href="#" id="leftNavi1">NOTICE</a></li>
					<li><a href="#" id="leftNavi2">1:1문의</a></li>
					<li><a href="#" id="leftNavi3">FAQ</span></a></li>
					<li class="last"><a href="#" id="leftNavi4">이용안내</a></li>
				</ul>			
			</div><script type="text/javascript">initSubmenu(1,0);</script>


			<!-- contents -->
			<div id="contents">
				<div id="customer">
					<h2><strong>NOTICE</strong><span>쟈뎅샵 소식을 전해드립니다.</span></h2>

					<div class="viewDivMt">
						<div class="viewHead">
							<div class="subject">
								<ul>
									<li>{{c.btitle}}</li>
								</ul>
							</div>
							<div class="day">
								<p class="txt">작성일<span>{{c.bdate|date:'Y-m-d H:i:s'}}</span></p>
							</div>
						</div>

						<div class="viewContents">
							{{c.bcontent}}
						</div>
					</div>


					<!-- 이전다음글 -->
					<div class="pnDiv web">
						<table summary="이전다음글을 선택하여 보실 수 있습니다." class="preNext" border="1" cellspacing="0">
							<caption>이전다음글</caption>
							<colgroup>
							<col width="100px" />
							<col width="*" />
							</colgroup>
							<tbody>
								<tr>
									<th class="pre">PREV</th>
									{% if pre_c %}
									<td><a href="/customer/cview/{{pre_c.bno}}/">{{pre_c.btitle}}</a></td>
									{% else %}
									<td>이전 글이 없습니다.</td>
									{% endif %}
								</tr>

								<tr>
									<th class="next">NEXT</th>
									{% if next_c %}
									<td><a href="/customer/cview/{{next_c.bno}}/">{{next_c.btitle}}</a></td>
									{% else %}
									<td>다음 글이 없습니다.</td>
									{% endif %}
								</tr>
							</tbody>
						</table>
					</div>
					<!-- //이전다음글 -->


					<!-- Btn Area -->
					<div class="btnArea btline">
						<div class="bRight">
							<ul>
								<li><a href="/customer/clist/" class="sbtnMini mw">목록</a></li>
								<li><a href="#" class="sbtnMini mw">답글</a></li>
								<li><a href="#" class="sbtnMini mw">수정</a></li>
								<li><a href="#" class="sbtnMini mw">삭제</a></li>
							</ul>
						</div>
					</div>
					<!-- //Btn Area -->
				</div>
			</div>
			<!-- //contents -->
		</div>
	</div>
	<!-- //container -->
</div>
</div>
{% endblock %}