{% extends 'base.html' %}
{% block title %}메인페이지{% endblock %}
{% block body-block %}
<body>
    <div style="height: 700px;">
        <h2>메인페이지</h2>
        {% if not request.session.session_id %}
        <ul>
            <li><a href='/member/login'>로그인</a></li>
            <li><a href='/member/write'>회원가입</a></li>
            <li><a href='/admin'>admin관리자</a></li>
        </ul>
        {% else %}
        <ul>
            <li><a href='{% url "member:logout" %}'>로그아웃</a></li>
            <li><a href='/board/list'>게시판</a></li>
            <li><a href='/board/list3'>영화진흥원api</a></li>
            <li><a href='/board/list2'>공공데이터api</a></li>
            <li><a href='/board/view2/79'>하단댓글게시판</a></li>
            <li><a href='/kakaomap'>지도</a></li>
            <li><a href='/index2'>지도2</a></li>
            <li><a href='/board/chart'>그래프 출력</a></li>
            <li><a href='/admin'>admin관리자</a></li>
        </ul>
        {% endif %}
    </div>
</body>
{% endblock %}